.App {
  text-align: center;
}

.App-header {
  background-color: #006064;
  border-bottom: solid 4px;
  border-color: #00838F;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.picked-legend {
  display: inline-grid;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid red;
  z-index: 20;
}

.oldPick-legend {
  display: inline-grid;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid rgba(100,50,50,0.54);
  z-index: 20;
}

.won-output {
  transform: rotate(90deg);
  font-size: 3rem;
}