.prize {
    /* width: 2rem; */
    height: 2rem;
    border-radius: 100px;
    background-color: yellow;
    border-style: double;
    border-width: 10px;
    border-color: orange;
    align-self: center;
    z-index: 30;
}

.picked {
    position: absolute;
    transform: translateX(1.8rem) translateY(-2rem);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
    z-index: 20;
}

.oldPick {
    position: absolute;
    transform: translateX(1.8rem) translateY(-2rem);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid rgba(100,50,50,0.54);
    z-index: 20;
}